html {
    font-family: Helvetica, sans-serif;
}

/**/

.tools button {
    margin: 1vh 2vw;
    margin-left: 5vw;
}

/**/

/* Principal */

#app-module {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}

#context-menu-deployable {
    position: absolute;
    width: 10vw;
    height: 15vh;
    background-color: white;
    color: black;
    border: 0.5px dashed black;
    display: none;
    padding: 2vw;
}

#context-menu-deployable:-moz-ui-valid {
    position: absolute;
    width: 10vw;
    height: 15vh;
    background-color: white;
    color: black;
    border: 0.5px dashed black;
    display: none;
    padding: 2vw;
}

/**/

/* Tabla */

#resp-table {
    width: 100%;
    display: table;
    border: 2px solid black;
}

#resp-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#resp-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 14px;
}

.table-header-cell {
    display: table-cell;
    padding: 5px;
    text-align: justify;
    border-bottom: 1px solid black;
}

#resp-table-body {
    display: table-row-group;
}

.resp-table-row {
    position: relative;
    display: table-row;
}

.table-body-cell {
    display: table-cell;
    border: 2px solid black;
}

#resp-table-footer {
    display: table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.45);
}

.table-footer-cell {
    display: table-cell;
    padding: 5px;
    text-align: justify;
    border-bottom: 1px solid black;

}

#resp-table #resp-table-body #editar {
    position: absolute;
    float: right;
    cursor: pointer;
}

/**/

/* Herramientas */

#app-options {
    position: absolute;
    padding: 10% 0 10% 0;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0%;
    width: inherit;
    height: 90vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.514);
}

#app-options [id|=box] {
    position: relative;
    padding: 5% 2.5% 5% 2.5%;
    background-color: white;
    margin: 0 auto;
    display: none;
    height: auto;
    width: 60vw;

    /**/
    border: 2px solid black;
}

#app-options [id|=box] #close-button {
    position: absolute;
    right: 1vw;
    top: 1vh;
}

#app-options [id|=box] h1 {
    margin-bottom: 2.5vh;
}

button {
    background-color: #4c93af;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#app-options #box-contacto #content button {
    display: flex;
    flex-direction: column;
}

#app-options [id|=box] .sheet {
    display: none;
    margin: 5% auto;
}

#app-options [id|=box] .collapsible {
    display: none;
    margin: 5% auto;
}

#app-options #box-respuesta {
    display: none;
}

/**/